In [1]:
!pip install pandas
!pip install pymongo

Requirement already satisfied: pandas in c:\users\nagar\anaconda3\envs\davakhane\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\nagar\anaconda3\envs\davakhane\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nagar\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nagar\anaconda3\envs\davakhane\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nagar\anaconda3\envs\davakhane\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\nagar\anaconda3\envs\davakhane\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: pymongo in c:\users\nagar\appdata\roaming\python\python312\site-packages (4.12.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\nagar\appdata\roaming\python\python312\site-packages (from pymongo) (2.7.0)

In [2]:
import pandas as pd
import pymongo

df = pd.read_csv('dataset.csv')
df.head()

                                                                                                                                                                                             <<<<<<< HEAD
Patient ID Timestamp        Age Gender Weight      Height      BMI         Heart Rate  BP Systolic BP Diastolic SpO2        Respiration Rate Body Temperature Blood Glucose Activity Level  Sleep Pattern
13         13-10-2025 16:50 40  Female 58.70038848 170.4094907 20.21405386 76.58680414 128.8826945 87.38316928  96.25592633 16.16185502      99.07677324      124.6900112   48                          1
1          15-10-2025 07:10 77  Female 80.12666728 167.1793494 28.66895204 71.52149326 115.3069482 68.88272289  97.37895286 16.33313168      98.93110379      108.9762947   55                          1
           10-05-2025 21:50 77  Female 80.12666728 167.1793494 28.66895204 70.48309483 106.9585367 79.96893303  98.3274331  16.78490009      98.36750288      98.38661462   44                          1
9          22-10-2025 01:20 71  Female 62.48597625 176.6769401 20.01809847 74.12814507 115.575141  71.37342474  98.3046963  14.77765795      98.24365978      82.21480161   52                          1

In [3]:
data = df.to_dict(orient='records')

In [8]:
DB_NAME = "davakhane"
COLLECTION_NAME = "davakhane-Data"
CONNECTION_URL = "mongodb+srv://nagarajloni209_db_user:WoZCar3FzpuyNxPV@cluster0.5bytycx.mongodb.net/"

In [9]:

client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [10]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\nagar\appdata\roaming\python\python312\site-packages (4.12.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\nagar\appdata\roaming\python\python312\site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
rec = collection.insert_many(data)

In [12]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

                        _id   <<<<<<< HEAD
0  68ba85a2c0546472bc7dbcf5  Sleep Pattern
1  68ba85a2c0546472bc7dbcf6              1